<p>
    <label for="nome">Nome</label>
    <input type="text" name="nome" [(ngModel)]="animal.nome" />
</p>
<p>
    <label for="tipo">Tipo</label>
    <input type="text" name="tipo" [(ngModel)]="animal.tipo" />
</p>
<p>
    <label for="descricao">Descricao</label>
    <input type="text" name="descricao" [(ngModel)]="animal.descricao" />
</p>
<p>
    <label for="imagem">Imagem</label>
    <input type="text" name="imagem" [(ngModel)]="animal.imagem" />
</p>
<p>
    <label for="telefone">Telefone</label>
    <input type="text" name="telefone" [(ngModel)]="animal.telefone" />
</p>
<button (click)="salva()">Salvar</button>

